{% extends "base.html" %} {% load static %} {% block body %}
<div class="container">
  <p class="text-center display-5 py-4">Reset Your Password</p>
  <div class="row">
    <div class="col-6 d-flex justify-content-center align-items-center">
      <img src="{% static 'site/img/logos/login-banner.png' %}" alt="" />
    </div>
    <div class="col-6">
      <div class="form-signin m-auto me-2">
        <form action="{% url "reset_password" token %}" method="post">
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingInput"
              placeholder=""
              name="new_password"
              required
            />
            <label for="floatingInput">New Password</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
              name="confirm_password"
              required
            />
            <label for="floatingPassword">Confirm New Password</label>
          </div>
          <button class="btn btn-primary w-100 py-2" type="submit">
            Reset Password
          </button>
          <p class="mt-2 text-center">Don't want to reset password ? <a href="{% url "login" %}" class="text-reset">Login</a></p>
        </form>
      </div>
    </div>
  </div>
  
</div>
{% endblock body %}
